# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=
APP_ENV=development
APP_URL=http://localhost/LAB5/lavalust/public

# Database Configuration
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lab5
DB_CHARSET=utf8mb4
DB_PREFIX=
DB_SSL_CA=

# First administrator account (created on first successful login)
ADMIN_USERNAME=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
